body{
	font-family: 'Roboto', sans-serif !important;

}
navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}
.navbar{
	background: rgba(59,89,152,0.8);
    width: 100%;
    position: absolute;
    margin-bottom: 0px !important;
    border: 0 !important;
    border-radius: 0px !important;
}
.navbar .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #f2f2f2;
    background-color: transparent;
}
.example3{
	position: relative;
    z-index: 2;
}
.navbar .navbar-nav>li>a {
    color: #fff;
}
.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.3em;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.carousel-inner{
	overflow: hidden;
    height: 500px;
}
.carousel-control.left
{
	background: none;
}
.carousel-control.right
{
	background: none;
}

.carousel-control
{
	position: absolute;
	top: 45%;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: auto;
	color: #fff;
	text-align: center;
	opacity: 1;
	text-shadow: none;
}
.carousel-control:hover
{
	color: #000;
}
.carousel-indicators
{
	position: absolute;
	bottom: -10px;
	z-index: 15;
	width: 20%;
	padding-left: 0;
	left: 110%;
	text-align: center;
	list-style: none;
	right: 0 !important;
	background: rgba(183, 183, 192, 0.78) !important;
	padding: 4px;
}
.carousel-indicators li
{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #8f8f8f;
	border-radius: 50%;
	border: 0px !important;
}
.carousel-indicators .active
{
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #6b6d72;
}
.container{
	position: relative;
}
.item img{
	width:100%;
}
.item{
	height: 500px;
	position: relative;
}
.carousel-caption
{
	position: absolute;
	right: 0%;
	bottom: 650px;
	z-index: 10;
	color: #fff;
	text-align: left;
	background: rgba(38,50,70, 0.7);
	padding: 20px;
	width: 70%;
	left: 30%;
}


.news{
	margin-top: 20px;
	margin-bottom: 20px;
}
.head{
	background: #506da6;
	padding: 1px 8px;
}
.head h6{
	color: #fff;
}
.news-box{
	cursor: pointer;
	margin-top:5px;
	margin-bottom: 5px;
}
.news-box h4{

	background: #f9f7f7;
	color: #aaa;
	padding: 8px 8px;
	margin-top: 0px;
}



.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #3b5998;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
footer{
	position: relative;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #ccc;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #fff
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #283b66;
	padding-top: 10px;
	color: #fff;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
	color: #fff;
}

.vitblue {
    color: #3B5998 !important;
}
.overlay{
  position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.51);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
}
.section-overlay{
  position: relative;
 height: 400px;
}
.section-overlay h1 {
    font-weight: 100;
    font-size: 6em;
    color: #fff;
    z-index: 24;
    position: relative;
    top: 50%;
    margin: 0 auto; 
    font-family: Roboto;
    text-align : left;
}
.section-top img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  width: 100%;
}
.content-main p {
   font-weight: 500;
   font-size: 1.5em;
}
.content-main p:first-child{
  margin-top: 20px;
  
}
.collection .collection-item {
    background-color: #3B5998;
    line-height: 1.5rem;
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    color: #fff;
    font-size: 1.5em;
}
.collection{
	 -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        border: 1px solid #e0e0e0;
        padding-left: 0px;
}

.content-main{
  margin-bottom: 20px;
  margin-top: 20px;
}
.content-main ul li {
	font-size: 1.5em;
	list-style-type: none;
}
.section-top{
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.subscription-box{
	height: 350px;
	position: relative;
	background: #283b66;
}
.overlay-background{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: auto;
	width: 100%;

}
.input-custom{
    z-index: 24;
    background: white;
    padding: 20px;
    width: 50%;
    position: relative;
    margin: 0 auto;
    border-radius: 6px;
}
.input-group-addon{
	background: transparent;
	border: 0 !important;

}
.submit-button{
	background: #355797;
    color: #fff;

}
.vitaplogo{
    height: 80px;
    width: auto;
    text-align: center;
    z-index: 24;
    position: relative;
    margin: 40px auto;
}
.subscription-box h4{ 
	position: relative;
    color: #fff;
    z-index: 24;
    margin: 0 auto;
    text-align: center;
}
.info-icon{
	color: #ccc;
}
.form-control{
	height: 44px;
	border: 0 !important;
}
.navbar .navbar-nav>li>a:hover {
    background: #355797;
    transition: 0.3s linear;
}
.google-maps {
        position: relative;
        padding-bottom: 30%; 
        height: 0;
        overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}
.custom-img{
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.img-caption{
	background: #f2f2f2;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px; 
	padding: 10px;
}
.collection-custom{
		 -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	        border: 1px solid #e0e0e0;
	        padding: 20px;
	        padding-top:10px;
}
.image-box{
	width: 700px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.card{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card .card-image {
    margin-bottom: -6px;
}
.card .card-image {
    position: relative;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
.card-left-align {
    padding: 0 0 !important;
}
.right {
    float: right!important;
}
.vitblue a{
	font-size: 1.5em;
}
.text-center{
	text-align: center;
}
.text-justify{
	padding: 10 0px;
}
.modal-content p{
	font-size: 1.5em;   

}
.modal-content{
	 padding: 20px;
}